<h1>Post list page</h1>
<p>Post list</p>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/user/logout{{token}}">Logout</a></li>
  <li><a href="/post/new/{{token}}">New Post</a></li>
</ul>

<div>
  {{rend}}
  {{#each result}}
    <div class="comment">
      <h2>{{title}} </h2>
      <p>{{text}}</p>
    </div>
  {{/each}}
</div>